@media screen and (max-width: 768px) {
.container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .wrapper{
display: block;
    background-color: rgb(107, 2, 107);
background-image: url(assets/images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
}
.logo{
   margin: auto;
}
.mockups{
    margin: auto;

}
.build{
    color: azure;
    font-family: sans-serif;
   margin: auto;
    text-align: center;
}
.huddle{
     color: azure;
    font-family: sans-serif;
    text-align: center; 
   margin: auto;
}
.btn{
    display: block;
    height: 40px;
    width: 80%;
    background-color: antiquewhite;
    border-color: blueviolet;
    color: blueviolet;
    border-radius: 20px;
    position:flex;
     margin: auto;
    cursor: pointer;
    fill: rgb(166, 45, 110);
}
.facebook{
   color: antiquewhite;
    margin-left:auto;
    margin-top: 20px;
    width: 30px;
}
.twitter{
    color: antiquewhite;
    margin-left:auto;
    margin-top: 20px;
    width: 30px;
}
.insta{
color: antiquewhite;
    margin-left:auto;
    margin-top: 20px;
 width: 30px;
}
}